################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Labs/Lab-1/.vs/Lab-1/v16/Browse.VC.opendb
/Labs/Lab-1/Debug
/Labs/Lab-1/Lab-1/Debug/Lab-1.log
